.main__full-screen {
    height: 505px;
    background-image: url("../images/header__image.jpg");
    background-size: cover;
    display: grid;
    align-items: center;
    margin-bottom: 70px;
}

.full-screen__content {
    margin-left: 14.495vw;
}

.full-screen__caption {
    font-size: 14px;
}

.full-screen__title {
    font-size: 62px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin: 15px 0 25px;
}

.full-screen__text {
    font-size: 20px;
    margin-bottom: 40px;
}

.full-screen__button {
    font-size: 15px;
    width: 206px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 7px 0;
    border-radius: 25px;
    border: 0;
    justify-items: end;
    cursor: pointer;
    grid-template-columns: 1fr 60px;
    box-shadow: 0 5px 25px rgba(26, 33, 47, 0.1);
    text-decoration: none;
    background-color: #FFFEFD;
}

.full-screen__button:after {
    content: '';
    background-image: url("../images/paw.png");
    height: 36px;
    width: 36px;
    display: block;
    margin-right: 7px;
}

.main__advantages {
    position: relative;
    overflow: hidden;
    padding-bottom: 70px;
    padding-top: 70px;
}

.main__advantages:after {
    content: '';
    background-image: url("../images/big_paw.png");
    height: 410px;
    width: 367px;
    display: block;
    position: absolute;
    right: 0;
    background-size: cover;
    top: -20px;
    z-index: 1;
}

.advantages__title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.advantages__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    justify-content: center;
    margin-top: 70px;
}

.advantages__card {
    width: 310px;
    height: 261px;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
    padding: 30px;
    background-color: white;
    z-index: 2;
}

.advantages__card .card__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
}

.advantages__card .card__text {
    width: 282px;
    font-size: 15px;
}

.advantages__card .card__icon {
    width: 91px;
    height: 91px;
    background-size: cover;
    margin-bottom: 35px;
}

.advantages__card:nth-child(1) .card__icon {
    background-image: url("../images/advantages_icon-1.png");
}

.advantages__card:nth-child(2) .card__icon {
    background-image: url("../images/advantages_icon-2.png");
}

.advantages__card:nth-child(3) .card__icon {
    background-image: url("../images/advantages_icon-3.png");
}

.advantages__card:nth-child(4) .card__icon {
    background-image: url("../images/advantages_icon-4.png");
}

.advantages__card:nth-child(5) .card__icon {
    background-image: url("../images/advantages_icon-5.png");
}

.advantages__card:nth-child(6) .card__icon {
    background-image: url("../images/advantages_icon-6.png");
}

.main__rooms {
    padding-top: 70px;
    position: relative;
    padding-bottom: 65px;
}

.main__rooms:before {
    content: '';
    background-image: url("../images/fish.png");
    height: 151px;
    width: 484px;
    display: block;
    position: absolute;
    left: 0;
    background-size: cover;
    top: 80px;
    z-index: 0;
}

.rooms__title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.slid__image {
    width: 600px;
    height: 404px;
    border-radius: 10px;
    background-size: cover;
}

.rooms__slid:nth-child(1) .slid__image {
    background-image: url("../images/slid_image-1.jpg");
}

.rooms__slid:nth-child(2) .slid__image {
    background-image: url("../images/slid_image-2.jpg");
}

.rooms__slid:nth-child(3) .slid__image {
    background-image: url("../images/slid_image-3.jpg");
}

.rooms__slider {
    margin-left: auto;
    margin-right: auto;
    width: 1030px;
    height: 404px;
    overflow: hidden;
    position: relative;
    margin-top: 70px;
}

.rooms__slid {
    position: absolute;
    display: flex;
    align-items: center;
    left: -600px;
    transition: 0.8s all ease-in-out;
}

.rooms__slid--active {
    z-index: 1;
}

.slid__container {
    margin-left: 1100px;
    width: 293px;
    height: 204px;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
    background-color: white;
    padding: 40px 95px;
    transition: 0.8s all ease-in-out;
}

.rooms__slid--active .slid__container {
    margin-left: -70px;
}

.slid__title {
    font-size: 21px;
    font-weight: bolder;
}

.slid__list {
    margin-top: 15px;
    font-size: 16px;
    list-style: url("../images/list_marker.png") inside;
}

.slid__item {
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

.slid__button {
    margin-top: 30px;
    font-size: 15px;
    width: 206px;
    padding: 7px 0;
    border-radius: 25px;
    border: 0;
    justify-items: end;
    cursor: pointer;
    background-color: #FF7236;
    color: white;
    display: grid;
    box-shadow: 0 5px 25px rgba(26, 33, 47, 0.1);
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr 60px;
    text-decoration: none;
}

.slid__button:after {
    content: '';
    background-image: url(../images/paw_orange.png);
    height: 36px;
    width: 36px;
    display: block;
    margin-right: 7px;
}

.rooms__slid--active {
    left: 0;
}

.rooms__container, .reviews__container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 120px;
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 10px;
}

.rooms__points, .reviews__points {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-column-gap: 12px;
    margin-left: 120px;
}

.rooms__point, .reviews__point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #E1E1E1;
}

.rooms__point--active, .reviews__point--active {
    background-color: #FAC663;
}

.rooms__arrows, .reviews__arrows {
    display: flex;
    z-index: 2;
}

.rooms__arrow, .reviews__arrow {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #FF7236;
    font-size: 21px;
    box-shadow: 0 2px 12px rgba(173, 152, 143, 0.25);
}

.rooms__arrow + .rooms__arrow, .reviews__arrow + .reviews__arrow {
    margin-left: 10px;
}

.main__reviews {
    position: relative;
    padding-top: 65px;
}

.main__reviews:after {
    content: '';
    background-image: url("../images/big_paw-2.png");
    height: 410px;
    width: 367px;
    display: block;
    position: absolute;
    right: 0;
    background-size: cover;
    top: -200px;
    z-index: 0;
}

.reviews__title {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.reviews__slider {
    margin-left: 100px;
    margin-top: 70px;
    transition: 0.6s all ease-in-out;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 30px;
    grid-template-columns: 470px;
}

.reviews__slid {
    padding: 35px;
    font-size: 15px;
    width: 400px;
    height: 136px;
    box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
    background-color: white;
    border-radius: 8px;
    z-index: 2;
}

.slid__text {
    display: flex;
}

.slid__text:before {
    content: '“';
    font-size: 72px;
    color: #FAC663;
    margin-top: -10px;
    margin-right: 8px;
}

.slid__info {
    font-size: 14px;
    margin-left: 34px;
    display: grid;
    grid-auto-flow: column;
    margin-top: 30px;
}

.slid__user, .slid__data {
    color: #848484;
}

.slid__data {
    text-align: end;
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .rooms__slider, .rooms__container, .reviews__container{
        width: 927px;
    }
    .slid__image{
        width: 540px;
        height: 364px;
    }
    .slid__container{
        padding: 36px 75px;
    }
}

@media screen and (min-width: 700px) and (max-width: 991px){
   .page__header{
       margin-left: 45px;
       margin-right: 45px;
   }

    .main__full-screen{
        height: 868px;
        background-image: url("../images/full_screen.jpg");
        align-items: start;
        justify-content: center;
        margin-bottom: 0;
    }

    .full-screen__content{
        margin-top: 140px;
        margin-left: 0;
        display: grid;
        justify-items: center;
    }

    .full-screen__title{
        margin: 5px 0 10px;
    }

    .advantages__card{
        padding: 25px;
        width: 274px;
        height: 235px;
    }

    .advantages__card .card__title{
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .advantages__card .card__text{
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        width: 265px;
    }

    .advantages__card .card__icon{
        width: 75px;
        height: 75px;
        margin-bottom: 30px;
    }

    .advantages__container{
        grid-template-columns: repeat(auto-fit, 324px);
        margin-top: 60px;
    }

    .main__advantages{
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .main__advantages:after{
        width: 300px;
        height: 325px;
        right: -30px;
    }

    .slid__image{
        width: 442px;
        height: 326px;
    }
    .slid__container{
        padding: 40px;
        width: 263px;
        height: 197px;
    }

    .slid__title{
        font-size: 20px;
    }

    .slid__list{
        font-size: 15px;
        list-style: url("../images/list_marker2.png") inside;
    }
    .rooms__slider, .rooms__container, .reviews__container{
        width: 665px;
    }

    .rooms__slider{
        margin-top: 60px;
        height: 326px;
    }

    .rooms__slid--active .slid__container{
        margin-left: -135px;
    }

    .main__rooms:before{
        width: 339px;
        height: 106px;
        top: 120px;
    }

    .rooms__arrows, .reviews__arrows{
        display: none;
    }

    .main__rooms, .main__reviews{
        padding-top: 60px;
    }

    .main__reviews:after{
        width: 227px;
        height: 260px;
        top: -30px;
    }

    .reviews__slider{
        margin-top: 60px;
    }

    .reviews__slid{
        width: 372px;
        padding: 30px;
        height: 140px;
    }

    .slid__info{
        margin-top: 15px;
    }

    .map__container{
        padding-left: 45px;
        padding-right: 45px;
        width: 279px;
    }

    #map__block{
        width: calc(100vw - 369px);
    }

    .main__map{
        margin-top: 120px;
    }

    .page__footer{
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media screen and (min-width: 320px) and (max-width: 700px){
    .page__header, .page__footer{
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 0;
        padding-right: 0;
    }

    .main__full-screen{
        background-position: center;
        background-image: url("../images/full_screen.jpg");
        align-items: start;
        justify-content: center;
        margin-bottom: 0;
        height: 700px;
    }

    .full-screen__content{
        margin-left: 0;
        margin-top: 120px;
        display: grid;
        justify-items: center;
    }

    .full-screen__title{
        margin: 5px 0 10px;
    }

    .advantages__card{
        padding: 25px;
        width: 240px;
        height: auto;
    }

    .advantages__card .card__title{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .advantages__card .card__text{
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        width: auto;
    }

    .advantages__card .card__icon{
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
    }

    .advantages__container{
        grid-template-columns: repeat(auto-fit, 290px);
        margin-top: 40px;
    }

    .main__advantages{
        padding-top: 60px;
        padding-bottom: 0;
    }

    .main__advantages:after{
        width: 300px;
        height: 325px;
        right: -30px;
    }

    .slid__image{
        width: 442px;
        height: 326px;
    }
    .slid__container{
        padding: 40px;
        width: 263px;
        height: 197px;
    }

    .slid__title{
        font-size: 20px;
    }

    .slid__list{
        font-size: 15px;
        list-style: url("../images/list_marker2.png") inside;
    }
    .rooms__slider, .rooms__container, .reviews__container{
        width: 406px;
    }

    .rooms__slider{
        margin-top: 40px;
        height: 570px;
    }

    .rooms__slid--active .slid__container{
        margin-left: 0;
    }

    .slid__container{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 326px;
    }

    .rooms__slid{
        flex-direction: column;
    }

    .slid__image{
        width: 406px;
        height: 269px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .main__rooms:before{
        width: 339px;
        height: 106px;
        top: 120px;
    }

    .main__rooms{
        padding-bottom: 0;
    }

    .rooms__arrows, .reviews__arrows{
        display: none;
    }

    .main__rooms, .main__reviews{
        padding-top: 60px;
    }

    .main__reviews:after{
        width: 227px;
        height: 260px;
        top: -30px;
    }

    .reviews__slider{
        margin-top: 40px;
        margin-left: 30px;
    }

    .reviews__slid{
        width: 372px;
        padding: 30px;
        height: 140px;
    }

    .slid__info{
        margin-top: 15px;
    }

    .map__container{
        padding-left: 45px;
        padding-right: 45px;
        width: 279px;
    }

    #map__block{
        width: calc(100vw - 369px);
    }

    .main__map{
        margin-top: 60px;
    }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .main__full-screen{
        height: 500px;
    }

    .full-screen__content{
        margin-top: 50px;
    }

    .full-screen__caption{
        font-size: 12px;
    }

    .full-screen__title{
        font-size: 44px;
    }

    .full-screen__text{
        font-size: 16px;
    }

    .advantages__title, .reviews__title, .rooms__title, .map__title{
        font-size: 28px;
    }

    .slid__image{
        width: 290px;
        height: 192px;
    }

    .slid__container{
        width: 210px;
        height: auto;
    }

    .rooms__slider, .rooms__container, .reviews__container{
        width: 290px;
    }

    .main__map{
        grid-auto-flow: row;
    }

    #map__block{
        width: 100vw;
        height: 300px;
    }

    .page__footer{
        grid-auto-flow: row;
        height: auto;
        justify-content: left;
        padding-top: 15px;
    }

    .footer__navigation{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer__navigation .navigation__container{
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 5px;
    }

    .main__advantages:after, .main__reviews:after{
        width: 112px;
        height: 130px;
        top: 30px;
        right: -10px;
    }

    .main__rooms:before{
        width: 150px;
        height: 40px;
        top: 105px;
    }

    .header__navigation{
        display: none;
    }
}
