.main__rooms{
    margin-left: 98px;
    margin-right: 98px;
}

.rooms__select{
    position: relative;
    width: 174px;
    z-index: 2;
}

.select__value {
    width: 134px;
    height: 35px;
    border-radius: 25px;
    background-color: white;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 12px rgba(173, 152, 143, 0.2);
    border: 0;
    color: #1A212F;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select__options{
    width: 134px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 12px rgba(173, 152, 143, 0.2);
    border: 0;
    font-size: 15px;
    height: 139px;
    color: #1A212F;
    position: absolute;
    background-color: white;
    display: none;
}

.select__option{
    height: 34.75px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.rooms__header {
    display: grid;
    grid-auto-flow: column;
    margin-top: 70px;
}

.rooms__container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-column-gap: 90px;
}

.rooms__panel{
    display: grid;
    grid-row-gap: 35px;
    align-content: baseline;
}

.area__container, .equipment__container{
    display: grid;
    grid-row-gap: 15px;
    font-size: 14px;
}

.price__container{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}

.price__input{
    width: 86px;
    padding: 2px 5px;
    border: 1px solid #E1E1E1;
    background-color: #FFFDFB;
}

::-webkit-input-placeholder{
    color: #1A212F;
}

.area__label, .equipment__label{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}

.area__input+.area__text, .equipment__input + .equipment__text {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.area__input+.area__text::before, .equipment__input + .equipment__text:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #FFFDFB;
    cursor: pointer;
    border: 1px solid #E1E1E1;
    margin-right: 10px;
}

.area__input, .equipment__input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.area__input:checked+.area__text::before, .equipment__input:checked + .equipment__text::before {
    background-image: url("../images/checkbox.png");
    background-size: cover;
    border: 0;
    width: 20px;
    height: 20px;
}

.panel__buttons{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 15px;
}

.panel__button{
    width: 185px;
    cursor: pointer;
    height: 42px;
    font-size: 14px;
    border-radius: 25px;
}

.button__apply{
    background-color: #FAC663;
    border: 0;
}

.button__clear{
    background-color: white;
    border: 2px solid #FAC663;
}

.area__title, .price__title, .equipment__title{
    margin-bottom: 20px;
}

.rooms__title {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
}

.rooms__block {
    margin-left: auto;
    margin-right: 9px;
}

.rooms__banner {
    height: 379px;
    width: calc(100vw - (98px * 2));
    background-size: cover;
    background-image: url("../images/banner.jpg");
    border-radius: 10px;
    overflow: hidden;
    margin-top: 140px;
}

.banner__container {
    margin-left: 18.75vw;
    margin-top: 76px;
    margin-bottom: 76px;
}

.banner__caption {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    height: 38px;
}

.banner__title {
    font-size: 56px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 9px;
}

.banner__text {
    width: 259px;
    margin-bottom: 25px;
}

.banner__button {
    font-size: 15px;
    width: 206px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 7px 0;
    border-radius: 25px;
    border: 0;
    justify-items: end;
    cursor: pointer;
    grid-template-columns: 1fr 60px;
    box-shadow: 0 5px 25px rgba(26, 33, 47, 0.1);
    text-decoration: none;
    background-color: #FFFEFD;
}

.banner__button:after {
    content: '';
    background-image: url("../images/paw.png");
    height: 36px;
    width: 36px;
    display: block;
    margin-right: 7px;
}

.rooms__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.rooms__card {
    width: 270px;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
}

.card__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
}

.card__block {
    border: 1px solid #E1E1E1;
    padding: 15px;
    border-bottom-left-radius: 6px;
    background-color: #fff;
    border-bottom-right-radius: 6px;
}

.card__text {
    margin-bottom: 15px;
}

.card__line {
    font-size: 14px;
    margin-bottom: 5px;
}

.line__bold {
    font-size: 18px;
    font-weight: bolder;
}

.card__button {
    font-size: 14px;
    width: 230px;
    border-radius: 25px;
    border: 0;
    justify-items: center;
    cursor: pointer;
    background-color: #FF7236;
    color: white;
    display: grid;
    box-shadow: 0 5px 25px rgba(26, 33, 47, 0.1);
    grid-auto-flow: column;
    align-items: center;
    height: 46px;
    grid-template-columns: 1fr 42px;
    text-decoration: none;
}

.card__button:after {
    content: '';
    background-image: url(../images/paw_orange.png);
    height: 34px;
    width: 34px;
    display: block;
    background-size: cover;
    margin-right: 3px;
}

.line__block {
    margin-left: 5px;
}

.line__block {
    display: inline-block;
    position: relative;
}

.line__block:hover::after {
    content: attr(data-title);
    position: absolute;
    top: -48px;
    left: -85px;
    z-index: 2;
    background-image: url("../images/Union.svg");
    background-size: cover;
    border-radius: 4px;
    font-size: 12px;
    height: 47px;
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}