.rooms__select{
    width: 174px;
    height: 35px;
    font-size: 14px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 12px rgba(173, 152, 143, 0.2) ;
    border: 0;
    color: #1A212F;
}

.main__rooms{
    padding-left: 98px;
    padding-right: 98px;
}

.rooms__header{
    display: grid;
    grid-auto-flow: column;
    margin-top: 70px;
}

.rooms__title{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
}

.rooms__block{
    margin-left: auto;
}

.rooms__banner{
    height: 379px;
    width: calc(100vw - (98px * 2));
    background-size: cover;
    background-image: url("../images/banner.jpg");
    border-radius: 10px;
    overflow: hidden;
    margin-top: 140px;
}

.banner__container{
    margin-left: 18.75vw;
    margin-top: 76px;
    margin-bottom: 76px;
}

.banner__caption{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    height: 38px;
}

.banner__title{
    font-size: 56px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 9px;
}

.banner__text{
    width: 259px;
    margin-bottom: 25px;
}

.banner__button{
    font-size: 15px;
    width: 206px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 7px 0;
    border-radius: 25px;
    border: 0;
    justify-items: end;
    cursor: pointer;
    grid-template-columns: 1fr 60px;
    box-shadow: 0 5px 25px rgba(26, 33, 47, 0.1);
    text-decoration: none;
    background-color: #FFFEFD;
}

.banner__button:after{
    content: '';
    background-image: url("../images/paw.png");
    height: 36px;
    width: 36px;
    display: block;
    margin-right: 7px;
}

.rooms__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.rooms__card{
    width: 270px;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
}

.card__title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
}

.card__block{
    border: 1px solid #E1E1E1;
    padding: 15px;
    border-bottom-left-radius: 6px;
    background-color: #fff;
    border-bottom-right-radius: 6px;
}

.card__text{
    margin-bottom: 15px;
}

.card__line{
    font-size: 14px;
    margin-bottom: 5px;
}

.line__bold{
    font-size: 18px;
    font-weight: bolder;
}

.card__button{
    font-size: 14px;
    width: 230px;
    border-radius: 25px;
    border: 0;
    justify-items: center;
    cursor: pointer;
    background-color: #FF7236;
    color: white;
    display: grid;
    box-shadow: 0 5px 25px rgba(26, 33, 47, 0.1);
    grid-auto-flow: column;
    align-items: center;
    height: 46px;
    grid-template-columns: 1fr 42px;
    text-decoration: none;
}

.card__button:after{
    content: '';
    background-image: url(../images/paw_orange.png);
    height: 34px;
    width: 34px;
    display: block;
    background-size: cover;
    margin-right: 3px;
}

.line__block{
    margin-left: 5px;
}